@import url(./__item/card__item.css);
@import url(./__title/card__title.css);
@import url(./__description/card__description.css);
@import url(./__image/card__image.css);

.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 920px;
}